:root[data-theme='light']  {
  --pst-color-primary: #0072b5;
  --pst-color-secondary: #febc15;
  --pst-color-link: #0072b5;
  --pst-color-inline-code: #0072b5;
  --sd-color-card-border-hover: #0072b5;

  dt {
    background-color: #eaeaea;
  }

}

:root[data-theme='dark'] {
  --pst-color-primary: #6DC8BF;
  --pst-color-secondary: #CBDB2A;
  --pst-color-link: #6DC8BF;
  --pst-color-inline-code: #6DC8BF;
  --sd-color-card-border-hover: #6DC8BF;

  dt {
    background-color: #6A4729F7;
  }

  /* note */
  .admonition.note > .admonition-title::before, div.admonition.note > .admonition-title::before {
    background-color: #8739b3;
  }

  .admonition.note > .admonition-title::after, div.admonition.note > .admonition-title::after {
    color: #c695c5;
    content: var(--pst-icon-admonition-note);
  }

  .admonition.note, div.admonition.note {
    border-color: #c695c5;
  }

  /* deprecated */
  --pst-color-danger: #f9e1e4;
  --pst-color-danger-bg: #d72d47;
}


/* Misc */

.extra-space-36 {
  margin-top: 36px; /* Adjust the value as needed */
}

/* Reduce the font size of all section headers */
h1 {
  font-size: 36px; /* Reduced from 42px */
}
h2 {
  font-size: 29px; /* Reduced from 34px */
}
h3 {
  font-size: 24px; /* Reduced from 28px */
}
h4 {
  font-size: 20px; /* Reduced from 24px */
}
h5 {
  font-size: 17px; /* Reduced from 20px */
}
h6 {
  font-size: 14px; /* Reduced from 16px */
}
